<h1>Содержание главной страницы</h1>

<%= link_to 'Наши игроки', users_path(@index), :class => "btn" %>

<h1>Тема сообщения</h1>
<p style="font-size:18px;">Содержание сообщения, достаточно интересного</p>